# === Секреты и ключи ===
.env

# === Базы данных SQLite ===
# Нам не нужно заливать на сервер твои локальные тесты
*.db
retailpool.db
test.db

# === Кэш Python ===
# Этот мусор генерируется сам при каждом запуске
__pycache__/
*.py[cod]
*$py.class

# === Тесты и логи ===
.pytest_cache/
*.log

# === Виртуальное окружение (если используешь) ===
venv/
env/
.venv/